body{
    margin-top: 0px;
    margin-left: 0px;
    margin-right: 0px;
  
}
.background{
    background-image: url("https://th.bing.com/th/id/OIP.hqfJdBBARTcW4LkgU7lVzQHaEc?w=319&h=191&c=7&r=0&o=5&dpr=1.3&pid=1.7");
    background-repeat:no-repeat;
    background-size: contain;
    width: 100%;
    background-size: 100% 100%;
}
nav{
    background-color: rgba(82, 187, 236, 0.821);
    
    display: flex;
    justify-content: center;
    top: 0px;
    position: sticky;
    border-radius: 0px 0px 20px 20px;
}
#backe{
    text-decoration: none;
    text-align: center;
    font-size: 150%;
    margin-bottom: 20px;
    margin-right: 20px;
}
.back{
    margin-top: 10px;
    font-weight: 800;
    margin-left: 10px ;
}
#logo{
    height: 80px;
    margin-right: 10px;
}
.Slogo{ 
    margin-right: 0px;
}
.sengine{
    display: grid;
    grid-template-columns: 2;
}
.text{
    grid-column-start: 1;
}
.button{
    grid-column-start: 2;
    margin-top: 10px;
}
.search{
    text-align: center;
    margin-top: 20px;
    font-size: 130%;
    font-weight: 500;
    overflow:visible;
}
nav button{
    height: 45px;
    width: 80px;
        background-color:rgba(245, 245, 220, 0.438);
        border-radius: 0px 30px 30px 0px;
        border: 2px;
}
textarea { 
        
        min-width: 350px;
        min-height: 30px;
        max-width: 350px;
        max-height: 30px;
        border: 0px;
        background-color: rgba(245, 245, 220, 0.278);
        margin-top: 10px;
        margin-left: 5px;
        border-radius: 30px 0px 0px 30px;
        padding-left: 40px;
        padding-top: 13px;
         font-size: 120%;
         text-align:left;
}
.login{
    margin-left: 20px;
    margin-top: 20px;
    font-size: 150%;
    font-weight: 700;
}
.signup{
    margin-left: 10px;
    margin-right: 5px;
    margin-top: 25px;
    font-size: 80%;
    padding-top: 4px;
    font-weight: 600;
    text-align: center;
}
.signup a{
    font-size: 110%;
    font-weight: 800;
}
.container{
    display: flex;
    background-color: rgba(28, 27, 27, 0.418);
    color: white;
}
#side{
    width: 20%;
    padding-top: 20px;
    /*background-color: rgba(240, 248, 255, 0.396);*/
    display: inline-block;
    border-right: 2px dotted salmon;
}
#profile{
    margin-left: 10px;
    flex-direction: column;
    align-content:baseline;
    text-align: justify;
    margin-bottom: 60px;
    text-align: justify;
}
.profile{
    margin-left: 30px;
    display: flex;
    color: yellow;
    font-family: 'Montserrat';
    font-weight: 800;
}
#profile a{
    color: rgb(61, 218, 13);
}
.profile img{
border-radius: 50%;
width: 80px;
height: 80px;
}

li{
    padding: 10px;
}
li a{
    text-decoration: none;
    font-weight: 700;
    color: yellow;
    font-family: 'Montserrat';
    font-size: 120%;
}

#content{
   /* background-color: rgba(240, 248, 255, 0.396);*/
    width: 60%;
    padding: 10px;
    border-right: 2px dotted salmon;
    font-size: 100%;
    font-weight: 800;
    font-family: 'Raleway'
}
.History{
    margin-left: 20px;
    text-align: justify;
}
.History h1{
    font-size: 150%;
    text-decoration: underline;
} 
.Performance{
    text-align: justify;
    margin-left: 20px;
    box-sizing: content-box;
}
.Performance h1{
    font-size: 150%;
    text-decoration: underline;
} 
#Ads{
  /*  background-color:rgba(240, 248, 255, 0.396) ;*/
     width: 20%;
 }
 .Achievements{
    margin-left: 10px;
    box-sizing: content-box;
    font-family: 'Oswald';
 }
 .fcontain{
    /*height: 500px;*/
    width: 100%;
    background-color:rgba(0, 0, 0, 0.526) ;
    display: grid;
    grid-template-columns: minmax(4);
 }
 footer{
    /*height: 500px;*/
    width: 100%;
    background-image: url("Images/sdm.jpeg");
    background-repeat: no-repeat;
    font-family: 'Roboto';
    background-size: 100% 100%;
 }
 #quick_links{
    color: rgb(248, 250, 251);
    grid-column-start: 1;
    padding: 5px;
 }
 #quick_links h2{
    text-decoration: underline;
 }
footer a{
    color: white;
}
#quick_links2{
    grid-column-start: 2;
    color: rgb(248, 250, 251);
    float: left;
    padding: 5px;
    float: left;
 }
 #quick_links2 h2{
    text-decoration: underline;
 }
 #useful_links{
    grid-column-start: 3;
    color: rgb(248, 250, 251);
    float: left;
    padding: 5px;
 }
 #useful_links h2{
    text-decoration: underline;
 }
 #contact_us{
    grid-column-start: 4;
    color: rgb(248, 250, 251);
    float: left;
    padding: 5px;
   
 }
 #contact_us h1{
    text-decoration: underline;
 }