body{
    margin-top: 0px;
    margin-left: 0px;
    margin-right: 0px;
}
nav{
    background-color: rgba(239, 22, 22, 0.952);
    padding: 5px;
    height: 60px;
    display: flex;
    justify-content: left;
    align-items: flex-start;
    border-radius: 0px 0px 20px 20px;
    margin-bottom: 10px;
}
#back{
    text-decoration: none;
    text-align: center;
    font-size: 200%;
    margin-bottom: 20px;
    margin-right: 100px;
}
.back{
    margin-top: 10px;
    margin-left: 20px ;
}
#logo{
    height: 60px;
    margin-right: 50px;
}
.Slogo{
    margin-right: 50px;
}
.search{
    text-align: center;
    margin-top: 20px;
    font-size: 130%;
    font-family: 'Roboto';
    font-weight: 200;
    overflow:visible;
}

textarea { 
        
        width: 500px;
        height: 30px;
        background-color: rgba(245, 245, 220, 0.615);
        margin-top: 10px;
        margin-left: 15px;
        border-radius: 30px;
        padding-left: 40px;
        padding-top: 13px;
         font-size: 120%;
         text-align:left;
}
.login{
    margin-left: 120px;
    margin-top: 30px;
    font-size: 110%;
}
.signup{
    margin-left: 80px;
    margin-top: 30px;
    font-size: 100%;
}
.signup a{
    font-size: 110%;
}
.container{
    display: flex;
    height: 650px;
}
#side{
    width: 20%;
    padding-top: 20px;
    background-color: aliceblue;
    display: inline-block;
}
#profile{
    display: inline-block;
    margin-left: 5px;
    margin-bottom: 60px;
    text-align: justify;
}

#content{
    background-color: aquamarine;
    width: 60%;
}   
#ads{
    width: 20%;
}
li{
    padding: 10px;
}
li a{
    text-decoration: none;
}

