<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Wanderlust</title>
</head>
<body>
    <h1>All Listings</h1>
    <form action="/listings/new" method="get">
        <button type="submit">Create New Listing</button>
    </form>
    <ul>
       <% for(listing of allListings){ %>
        <li> <a href="/listings/<%= listing._id %>"> <%= listing.title %></a></li>
     <%   } %>
    </ul>
</body>
</html>

