<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New Listing</title>
</head>
<body>
    <form action="/listings" method="post">
        <input type="text" name="title" placeholder="Enter Title"><br><br>
        <textarea name="description" placeholder="Enter Description of the title"><br><br>
        <input type="text" name="image" placeholder="Enter Image URL"><br><br>
        <input type="number" name="price" placeholder="Enter price"><br><br>
        <input type="text" name="location" placeholder="Enter location"><br><br>
        <input type="text" name="Enter Country" placeholder="Enter country"><br><br>
        <button type="submit">Create Listing</button>
    </form>
</body>
</html>