<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New Listing</title>
</head>
<body>
    <h1>Create a new Listing</h1>
    <form action="/listings" method="post">
        <input type="text" name="Listing[title]" placeholder="Enter Title"><br><br>
        <textarea name="Listing[description]" placeholder="Enter Description of the title"></textarea><br><br>
        <input type="text" name="Listing[image]" placeholder="Enter Image URL"><br><br>
        <input type="number" name="Listing[price]" placeholder="Enter price"><br><br>
        <input type="text" name="Listing[location]" placeholder="Enter location"><br><br>
        <input type="text" name="Listing[country]" placeholder="Enter country"><br><br>
        <button type="submit">Create Listing</button>
    </form>
</body>
</html>