*{
    box-sizing: border-box;
}
body{
    background-color: rgb(177, 229, 229);
    font-family: Arial, Helvetica, sans-serif;
    margin: 15px 30px;
    font-size: 17px;
    padding: 8px
}
h1{
    text-align: center;
    color: blueviolet;
}
.container{
    background-color: rgb(246, 234, 220);
    border: 2px solid rgb(137, 0, 0);
    padding: 25px 25px 25px 25px;
}
input[type="text"],
input[type="number"],
input[type="password"],
input[type="date"],
input[type="email"],
select,
textarea,
fieldset{
    width: 100%;
    padding: 10px;
    border: 3px solid #d48888;
    border-radius: 10px 60px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: medium;
}
input[type="submit"]{
    background-color: rgb(141, 230, 201);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: 600;
    width: 100%;
    padding: 5px;
    border: none;
    border-radius: 1000px 1px;
    cursor:pointer;
}
input[type="submit"]:hover{
    background-color: rgb(59, 137, 205);
}
.pay{
        margin: 0px 600px;
}