<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Service is not available, Some error has occured</h1>
    <h3>Keep Refreshing, we will be back soon!!</h3>
</body>
</html>