<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= username %></title>
</head>
<body>
    <h2>This Page Belongs to <a href="https://instagram.com/prajwal_dalawai" target="_blank">@<%= username %></a></h2>
    <button>Follow</button>
    <button>Message</button>
</body>
</html>