h1{
    text-align: center ;
}
.main{
    display: flex;
    border: 2px solid black;
    /*height: 100px;
    width: 100px;*/
}
.task{
    border: 2px solid black;
    padding: 20px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
}
#submit{
    background-color: rgb(13, 13, 241);
    border-radius: 0;
    color: white;
   
}
.sub1{
    padding: 40px; 
    border-right:2px solid black ; 
}
h2{
    padding-left: 20px;
    text-align:left;    
}
th {
   padding-right: 120px;
}
table{
    margin-left: 20px;
    border: 2px solid black;
    border-collapse: collapse;
}
#title{
    width: 230px; 
}
#submit{
    width: 240px;
}
