*{
    box-sizing: border-box;
    list-style: none;
}
body{
    margin: 0px;
}
header{
    padding: 50px;
    text-align: center;
    background-color:black;
    color: aliceblue;
    font-size: 40px;
}
nav{
    background-color: gray;
    overflow: hidden;
}
nav a{
    display: block;
    color: white;
    text-decoration: none;
    padding: 14px 20px;
    float: left;
}
section{
    text-align: center;
    padding-top: 40px;
    height: 100vh;
}
section:nth-child(even){
    background-color: bisque;
}
iframe{
    padding: 0px 5px;
}
img{
    padding: 0px 20px;
}
h2{
    padding-bottom: 40px;
}
footer{
    overflow: hidden;
    background-color: grey;
}
footer a{
    display: block;
    color: white;
    text-decoration: none;
    padding: 14px 20px;
    float: left;
}