<style>
  .btn-style{
    background-color: #f93744;
    color: white;
    border-radius: 25px;
    padding: 0 1rem 0 1rem;
    &:hover{
      background-color: #da0917;
      color: white;
    }
  }
  .btn-style i{
    display: inline;
    margin-right: 0.5rem;
  }
</style>
<nav class="navbar navbar-expand-md bg-body-light sticky-top">
    <div class="container-fluid">
      <a class="navbar-brand" href="#"><i class="fa-regular fa-compass"></i></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <a class="nav-link" href="/listings">All Listings</a>
          <div class="container-fluid search-bar">
            <form class="d-flex" role="search">
              <input class="form-control me-2" type="search" placeholder="Search Destinations" aria-label="Search">
              <button class="btn btn-style btn-search" type="submit"><i class="fa-solid fa-magnifying-glass"></i>Search</button>
            </form>
          </div>
          
        </div>
        <div class="navbar-nav ms-auto">
          <a class="nav-link" href="/listings/new">Airbnb your home</a>
          <% if (!currentUser) { %>
            <a class="nav-link" aria-current="page" href="/signup"><b>Sign up</b></a>
          <a class="nav-link" href="/login"><b>Login</b></a>
     <%     } %>
     <% if (currentUser) { %>
            <a class="nav-link" href="/logout">Logout</a>
           <% } %>
          
        </div>
        </div>
      </div>
    </div>
  </nav>