<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <h1>This is the home page</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sequi labore quibusdam minima eos quae, temporibus dolore earum quis tempore aut mollitia suscipit nihil asperiores. Esse culpa voluptatibus corrupti dolore. Dolorem commodi eligendi laboriosam! Earum obcaecati maiores in odio. Beatae voluptates distinctio saepe numquam, explicabo natus voluptatibus tempora commodi. Sint provident, quisquam voluptatibus exercitationem atque tempora. Mollitia, excepturi quas molestiae voluptates, impedit vero ea atque quia aspernatur vel dolorem neque omnis? Voluptate, laudantium, omnis eaque et magni fugit sint at temporibus, aspernatur enim explicabo. Architecto minima optio molestiae eius tenetur fugit ad delectus id! Quaerat vel veritatis tenetur fugiat veniam minima?</p>
    <br>
    <button>Click me</button>
</body>
</html>