body{
    background-color: grey;
}
#head{
    background-color: rgb(206, 22, 111);
    box-sizing: border-box;
    height: 200px;
    margin: 0px;
    padding: 30px;
    font-size: 150%;
    text-align: center;
    border: 5px solid yellow;
    width: 100%;
    color: white;
}
nav {
    background-color: rgb(68, 203, 113);
    border: 3px solid red;
    position: sticky;
    top: 0px;
    height: 30px;
    width: 100%;
}
nav a{
    margin: 20px;
    font-size: 160%;
    color:rgb(12, 46, 241);
}
header{
    text-align: center;
    font-family: 'Raleway';
    color:blue;
    margin: 50px;
    text-decoration:underline 3px bisque;
}
h2{
    color: red;
}
section{
    font-size: large;
}
.founder{
    text-align: center;
    border: 2px solid black;
    font-size: 30px;
}
footer{
    background-color: black;
    color: white;
    text-align: center;
}