.container{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px,1fr));
    grid-auto-rows:  700px;
    grid-gap: 3px;
}
.subcontainer{
    border:2px solid white;
    background-color:aquamarine;
}
#box2{
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(200px,1fr));
    grid-auto-rows: 348px;
}
.subbox2{
    border-top: 2px solid white;
}
#box3{
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(200px,1fr));
    grid-auto-rows: 232.33px; 
}
.subbox3{
    border-top:  2px solid white;
}
#box4{
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(200px,1fr));
    grid-auto-rows: 174px; 
}
.subbox4{
    border-top:2px solid white ;
}
#box5{
    display: grid;
    grid-template-columns: repeat(auto-fill),minmax((200px,1fr));
    grid-auto-rows: 139px;
}
.subbox5{
    border-top: 2px solid white;
}
#box6{
    display: grid;
    grid-template-columns: repeat(auto-fill),minmax((200px,1fr));
    grid-auto-rows: 115.66px;
}
.subbox6{
    border-top: 2px solid white;
}
#box7{
    display: grid;
    grid-template-columns: repeat(auto-fill),minmax((200px,1fr));
    grid-auto-rows: 99px;
}
.subbox7{
    border-top: 2px solid white;
}