<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New Post</title>
</head>
<body>
    <form action="/post" method="post">
        <input name="username" placeholder="Enter username"><br><br>
        <textarea name="content" placeholder="Write your Content"></textarea><br><br>
        <button type="submit">Submit Post</button>
    </form>
</body>
</html>