<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Content</title>
</head>
<body>
    <h1>Edit Your Post</h1>
    <p>Post id: <%= post.id %></p>
    <p>Username: <%= post.username %></p>
    <span>Content: </span>
    <form action="/post/<%= post.id %>?_method=PATCH" method="post">
        <textarea name="content" id="content" rows="5" cols="50"> <%= post.content %></textarea><br><br>
        <button type="submit">Make Changes</button>
    </form>
</body>
</html>