<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Post Details</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <div class="post">
    <h1> Here is your Post in Details</h1>
    <h5 class="id"> <i>id: </i><%= post.id %></h5>
    <h3 class="user">User: @<%= post.username %></h3>
    <h4 class="content"> Content: <%= post.content %></h4>
    <button><a href="http://localhost:8080/post/">Back</a></button>
</div>

</body>
</html>