<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<style>
    body{
       background-image: linear-gradient(violet,indigo,blue,green,yellow,orange,red);
       background-repeat: no-repeat;
       background-size: cover;
    }
</style>
<body>
    <center>
    <h1>This page generates the Random Number Until 1-100</h1>
    <h2>Here its is for you</h2>
    <h3>The number is :<%=number  %></h3>
    <% 
    if(number == 50){ %>
        <h2>Nice! You are awarded.</h2>
   <% } %>
    <h4>Refresh The page to generate the new number.</h4>
</center>
</body>
</html>

